.profile__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 28px 0 0;
  max-width: 250px;
}

@media (min-width: 520px) {
  .profile__info {
    justify-content: flex-start;
    margin: 0 0 0 30px;
    max-width: 50%;
  }
}
